@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-stretch: normal;
    src: url('./SourceCodePro-Regular.ttf.woff2') format('woff2'),
         url('./SourceCodePro-Regular.otf.woff') format('woff');
    }

body {
    background: url('./m.png') no-repeat top left fixed;
    background-color: white;
    background-size: 12.5%; 
    padding: 0% 10% 10% 10%;
    min-width: 500px;
    text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
    }

body {
    font-family: 'Source Code Pro', monospace, sans-serif;  
    color: black;
    line-height: 1.4rem;
    font-size: medium;
    white-space: nowrap;
    }

/* LINK STYLE */

a {
    text-decoration: none;
    }

a:visited { 
    color:black; 
    }

a:link    { 
    text-decoration : none;
    color: #888; 
    }

a:hover   { 
    background-color: yellow; 
    }

/* GENERAL TYPOGRAPHY */

.sectionTitle {
    font-size: large;
    color: black !important;
    padding: 0rem 1rem;
    border-left: 1rem solid black;
    margin-left: -0.22rem;
    }
 
.torque .sectionTitle {
    border: none;
    padding: none;
    margin-left: -1rem;
    }

h2 {
    border-left: 1rem solid black;
    padding-left: 1rem;
    } 

/* THUMBNAIL CODE ONLY APPLIES TO INDEX-PAGES.HTML */

.thumbnail {
    width: 100px;
    border-left: 0.1rem solid black;
    margin: -0.4rem 0 -0.4rem 0.25rem;
    padding: 1rem;
    -webkit-transition: width 100ms ease-in-out;
    -moz-transition: width 100ms ease-in-out;
    -o-transition: width 100ms ease-in-out;
    transition: width 100ms ease-in-out;
    }

.thumbnail:hover, .thumbnail:active {
    width: 80vh;
    -webkit-transition: width 100ms ease-in-out;
    -moz-transition: width 100ms ease-in-out;
    -o-transition: width 100ms ease-in-out;
    transition: width 100ms ease-in-out;
    }

/* ADD VERSION NUMBER TO ALL PAGES USING CSS
   REMEMBER TO UPDATE VERSION NUMBER */

.footer:before {
    display: block;
    text-align: left;
    content: "Version 0.1.7 : 2024.01.07";
    }

/* CHEERS! */

.footer {
    margin-top: 5rem;
    padding-top: 1rem;
    border-top: 1px solid black;
    color: black;
    font-size:xx-small;
    }

/* <i> TAG RE-PURPOSED AS A BULK TEXT SELECTOR */

i {
    font-style: normal;
    color: #888;
    white-space: pre;
    max-width: 50%;
    display: inline-block;
    visibility: visible;
    }

i:before {
    content: "...";
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    }

.s14:after {
    content: "[S14]";
    padding-left: 0.7rem;
    color: #D1002A;
    }    
/* END OF FILE */   